

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.firstHeader {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 35px;
    color: white;
    margin-left: -150px;
}

.secondHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: -200px;
}

.secondHeader 
     span {
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: 600;
}
.secondHeader a {
    text-decoration: none;
}
.secondHeader span:hover {
    transform: scale(1.1);
    background: #5824b9;
    transition: transform 0.5s;
    height: 3px;
}
// .secondHeader span::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 3px;
//     top: 100%;
//     left: 0;
//     background: #ff7000;
//     transition: transform 0.5s;
//     transform: scaleX(1.1);
//     transform-origin: right;
// }
.navButton {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    padding: 14px 47px;
    background-color: #754EF9;
    border: none;
    border-radius: 24px;
    color: white;
}
.navButton:hover {
    transform: scale(1.1);
    background: #5824b9;
    transition: transform 0.5s;

}




  
  