
@mixin fonts {
    font-family: 'Open Sans';
    font-size: 25px; 
    font-weight: 600;
}
.first-page {
    width: 100%;
    max-width: 1800px;
    height: 100vh;
    border-bottom: 15px solid #754EF9;
}
.white-part {
    background-color: #754EF9;
    height: 100vh;
    width: 30%;
    position: absolute;
}

.middlePart {
    margin: 160px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.middleRound {
    left: 40%;
    border: 15px solid #754EF9;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
}

.middleRound:hover {
    transform: scale(1.1);
}
.middleName {
    top: 0%;
    display: block
}

.middle-round-border {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    border-radius: 50%;
    border: 40px solid white;
}

.portfolioPic {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 15px solid #754EF9;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.portfolioPic:hover {
    width: 306px;
    height: 306px;
}
.middleName span {
    font-family: 'Trebuchet MS';
    font-size: 70px;
    font-weight: 700;
}

.underName {
    @include fonts ();
    font-family: 'Open Sans';
    font-size: 25px !important;
    font-family: 600 !important;
    display: block;
}
.logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo-follow {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    transform: rotate(90deg);
    color: #754EF9;
}
.vertical {
    border-left: 1px solid #754EF9; 
    height: 55px; 
    left: 50%;
    margin-top: 70px;
}
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;
}
.logo {
    margin-top: 27px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    border-color: #754EF9;

}
.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 300px;
    box-sizing: content-box;
    box-shadow: 1px 1px 6px rgba(16,69,73,0.1);
    padding: 70px 100px;
}
.box:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
.box h3 {
    font-family: 'Roboto';
    font-size: 18px;
}
.box h6 {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
}

.boxes-button {
    background-color: #754EF9;
    color: white;
    font-family: 'Roboto';
    font-size: 11px;
    padding: 7px 30px;
    border: none;
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.boxes-button:hover {
    opacity: 1.3;
}
.secondPart{
    margin-top: 100px;
}
.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.my-portfolio {
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 600;
}

.webapp {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.grid {
    position: relative;
}

@mixin text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    opacity: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 20px 20px;
}
.box-picture-text1 {
    @include text;
    background-color: rgb(68, 68, 197);
}

.box-picture-text2 {
    @include text;
    background-color: rgb(245, 83, 8);
}
.box-picture-text3 {
    @include text;
    background-color: rgb(43, 255, 0);
}
.box-picture-text4 {
    @include text;
    background-color: rgb(255, 0, 179);
}
.box-picture-text5 {
    @include text;
    background-color: rgb(255, 0, 0);
}
.box-picture-text6 {
    @include text;
    background-color: rgb(0, 183, 255);
}
.box-picture-text7 {
    @include text;
    background-color: rgb(255, 217, 0);
}
.box-picture-text8 {
    @include text;
    background-color: rgb(118, 118, 161);
}
.grid1:hover .box-picture-text1 {
    display: flex;
	opacity: 0.8;
}
.grid2:hover .box-picture-text2 {
    display: flex;
	opacity: 0.8;
}
.grid3:hover .box-picture-text3 {
    display: flex;
	opacity: 0.8;
}
.grid4:hover .box-picture-text4 {
    display: flex;
	opacity: 0.8;
}
.grid5:hover .box-picture-text5 {
    display: flex;
	opacity: 0.8;
}
.grid6:hover .box-picture-text6 {
    display: flex;
	opacity: 0.8;
}
.grid7:hover .box-picture-text7 {
    display: flex;
	opacity: 0.8;
}
.grid8:hover .box-picture-text8 {
    display: flex;
	opacity: 0.8;
}

.grids {
    margin-top: 100px;;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid2 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid3 {
    grid-row: 1/2;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid8 {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid5 {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid6 {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid7 {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid4 {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.backgroundPurple {
    width: 820;
    inline-size: fit-content;
    background-color: #754EF9;
    height: 200px;
}
.titles2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.valtest {
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 600;
}
.what-people {
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 500;
    opacity: .5;
}
.backgroundPurple {
    height: 305px;
    width: 850px;
    background-color: #754EF9;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;

}
.boxPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    word-spacing: 10px;
    line-height: 20px;
    margin-top: -422px;
    background-color: white;
    box-shadow: 1px 1px 6px rgba(16,69,73,0.2);
    padding: 0 70px;

}
.secondround {
    margin-top: 20px;
}

.name-place-pic{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 10px solid #754EF9;
    object-fit: cover;

}
.secondRound-border {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: fit-content;
    border-radius: 50%;
    border: 10px solid #B9A6FC;
}
.names-place {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}
.boxContent {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
    margin-bottom: 50px;
}
.fourthPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    margin-top: 100px;
}
section h1 {
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 600;
}

section h6 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 500;
    opacity: .4;
}
